# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml
*.iws
out/

# Eclipse files
.classpath
.project
.settings/

# Gradle files
.gradle/
build/

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Spring Boot DevTools
.restart
